* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;   /* --------- This CSS is used since it didn't work in body --------- */
}
body {
    background-color: #0d1323;
    color: #fbf8ff;
    font-family: 'Rubik Light', sans-serif;
}
@font-face {
    font-family: 'Rubik Light';
    src: url(Rubik-VariableFont_wght.ttf);
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}

/* -------------------- CSS for Grid Container -------------------- */
.gridContainer {
    display: grid;
    width: 70%;
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.3em 1.3em;
}

/* -------------------- CSS for Profile Block -------------------- */
#profile {
    grid-row: 1 / span 2;
    background-color: #1d204b;
}
.innerProfile {
    width: 100%;
    height: 68%;
    border-radius: .7em;
    background-color: #5746ea;
    padding: 1.5em 0 0 1.5em;
}
.innerProfile img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 2px solid #fbf8ff;
    margin-bottom: 2em;
}
#profile ul {
    list-style: none;
    margin: 1em 0 0 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #6469aa;
}
#profile ul li:hover {
    color: #fbf8ff;
    cursor: pointer;
}

/* -------------------- CSS for Six Smaller Blocks -------------------- */
.item {
    overflow: hidden;
    border-radius: .7em;
    background-repeat: no-repeat;   /* --------- This CSS are for icon-images --------- */
    background-position: 90% -5%;
    background-size: 3em 3em;

}
#work {
    background-color: #ff8b64;
}
#play {
    background-color: #56c2e6;
}
#study {
    background-color: #ff5e7d;
}
#exercise {
    background-color: #4bcf83;
}
#social {
    background-color: #7334d2;
}
#care {
    background-color: #f1c65b;
}
.innerBlock {
    margin-top: 15%;
    width: 100%;
    height: 90%;
    border-radius: .7em;
    background-color: #1d204b;
    padding: 1.5em 1.5em 0 1.5em;
}
.innerBlock:hover {
    background-color: #34397b;
    cursor: pointer;
}
.threeDots {        /* ---------- This CSS is used to move dots a little upper --------- */
    margin-top: -.4em;
    color: #c7c8fd;
}
.threeDots:hover {
    font-weight: bold;
    color: #ffffff;
}
.timeBlock {
    margin-top: 1.2em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/* -------------------- CSS for mobile view-------------------- */
@media screen and (max-width: 768px) {
    .gridContainer {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: auto;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    /* -------------------- mobile view for profile -------------------- */
    .innerProfile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .innerProfile div {
        padding-right: 4%;
    }
    #profile ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 1.5em 0 1.5em 0;
    }

    .item {
        background-size: 4em 4em;
    }
    .innerBlock {
        margin-top: 10%;
        padding-bottom: 1em;
    }
    .timeBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .timeBlock h5 {
        margin-top: 3%;
    }
}